.section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 3.8rem;

	& img,
	svg {
		width: 70px;
		border-radius: 40px;
		margin: 0 auto 1.25rem;
	}
	p {
		margin: 0 auto;
		max-width: 17.9rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.name {
		margin-bottom: 1.2rem;
	}
}
