@use './MainAdaptive.scss' as adaptive;
@import '../../scss/variables';

.main {
	text-align: center;
	margin: 0 auto 7.75rem;
	max-width: 82rem;

	& h1 {
		margin: 8.75rem 2rem 3.15rem;

		@include adaptive.laptop {
			margin-bottom: adaptive.$h1MarginBottom1024;
		}
	}
	& .loader {
		margin: 2.5rem auto 0;
	}
	& .error {
		color: $error;
	}
	& .userCards {
		display: flex;
		flex-direction: column;

		@include adaptive.tablet {
			@include adaptive.userCardsFlexRow;
		}

		@include adaptive.laptop {
			gap: adaptive.$userCardGap1024;
		}

		& section {
			@include adaptive.tablet {
				flex-basis: adaptive.$userCardFlexBasis768;
			}

			@include adaptive.laptop {
				flex-basis: adaptive.$userCardFlexBasis1024;
			}
		}
	}
	& button {
		margin-top: 1.85rem;
		width: 120px;

		@include adaptive.tablet {
			margin-top: adaptive.$buttonMarginTop768;
		}

		@include adaptive.laptop {
			margin-top: adaptive.$buttonMarginTop1024;
		}
	}
}
