@use './FooterAdaptive.scss' as adaptive;

@import '../../scss/variables';

.footer {
	padding: 1rem;
	text-align: center;

	& h1 {
		margin-bottom: 3.15rem;
	}
	& form {
		margin: 0 auto;
		max-width: 20.5rem;

		@include adaptive.tablet {
			max-width: adaptive.$formMaxWidth768;
		}
	}
	& button {
		@include adaptive.laptop {
			padding: adaptive.$buttonPadding1024;
		}
	}
}
.first3Input {
	font-size: 16px;
	line-height: 26px;
	padding: 0.8rem 0.93rem;
	background: transparent;
	border: 1px solid $input_border;
	border-radius: 4px;
	margin-bottom: 3.15rem;
	width: 100%;
	outline: currentColor;
}

.first3Input:last-of-type {
	margin-bottom: 2.7rem;
}
.file {
	position: relative;
	display: block;
	cursor: pointer;
	height: 3rem;

	margin: 0 auto 3.5rem;

	& input {
		min-width: 14rem;
		margin: 0;
		filter: alpha(opacity=0);
		opacity: 0;
	}
}

// SCSS to create custom upload file input
.fileCustom {
	position: absolute;
	right: 0;
	left: 1px;
	z-index: 5;
	height: 3.35rem;
	padding: 0.5rem 1rem;
	line-height: 2.3;
	color: $helper_text;
	border: 0.075rem solid $input_border;
	border-left: none;
	border-radius: 0.25rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:after {
		position: absolute;
		right: 15.25rem;
		bottom: -0.05rem;
		z-index: 6;
		display: block;
		content: 'Upload';
		height: 3.35rem;
		padding: 0.5rem 0.9rem;
		line-height: 2.3;
		color: $customUploadButton;
		border: 1px solid $customUploadButton;
		border-radius: 0.25rem 0 0 0.25rem;

		@include adaptive.tablet {
			right: adaptive.$moveUploadButton768;
		}
	}
	&:before {
		position: absolute;
		right: 5.9rem;
		content: var(--before-content);

		@include adaptive.tablet {
			right: adaptive.$moveUploadYourPhoto768;
		}
	}
}

.pSelect {
	margin-bottom: 0.75rem;
	text-align: start;
}

.errorText {
	@include adaptive.errorText;
}

.errorTextHero {
	@include adaptive.errorText;
	margin-top: -2.75rem;
}

.errorBorder {
	border: 2px solid $error;
	&:after {
		border: 1px solid $error;
	}
}

.errorFile {
	border: 2px solid $error;
	&:after {
		height: 3.3rem;
		border: 2px solid $error;
		border-style: none solid none none;
	}
	&:before {
		@include adaptive.styleTextAfterFileAdded;
		bottom: 7.5px;
	}
}

.changeText:before {
	@include adaptive.styleTextAfterFileAdded;
}
.formError {
	color: $error;
	margin-bottom: 1rem;
}
.formError:last-of-type {
	margin-bottom: 2rem;
}
