$primary_color: #f4e041;
$secondary_color: #00bdd3;
$error: rgb(204, 0, 0);

$button_hover: #ffe302;
$button_disabled_bg: #b4b4b4;
$button_disabled_color: #e5e5e5;

$input_border: #cacaca;
$helper_text: #9e9e9e;
$customUploadButton: black;

$pTextHeader: #dedede;